@charset "utf-8";
@media (max-width: 768px) {
    main {
        width: 100%;
        padding: 10px;
    }
    div.back {
        width: 90%;
        height: 100vh;
    }
    .option {
        flex: 1 1 100%; /* スマホの場合、ボタンは1列に表示 */
    }
}
body {
    background-position: center;
    background-size: cover;
    background-image: url(../images/background118.jpg);
    font-family: "Kiwi Maru", serif;
    font-weight: 100;
    font-style: normal;
}
main {
    background-color: #F6F6AE;
    width: 840px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}
div#question_section {
    background-color: rgb(255, 255, 255, 0.6);
    width: 420px;
    height: 100vh;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
    background-color: #fff;
    text-align: center;
    color: #9ba74f;
    font-size: 24px;
    width: 170px;
    height: auto;
    border-radius: 20px;
    border: 4px solid #9ba74f;
    padding: 15px;
    font-weight: 600;
    position: absolute;
    top: -147px;
    left: -35px;
}

img {
    width: 170px;
    height: 210px;
    position: absolute;
    top: 40px;
    right: 15px;
    z-index: -1;
}
div#question_title {
    width: 300px;
    margin: 0 auto;
    text-align: center; 
    padding-left: 0;
    position: absolute;
    top: 180px;
    left: 65px;
}
div#option_button {
    display: flex;
    flex-wrap: wrap; /* 画面幅に応じてボタンが折り返される */
    gap: 10px; /* ボタン間に隙間を追加 */
    justify-content: center; /* ボタンを中央に配置 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

/* button.option {
    display: block;
    font-weight: s00;
    background-color: #CFDE67;
    border: #CFDE67;
    padding: 22px 0;
    text-decoration: none;
    border-radius: 20px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    margin: 26px auto;
    width: 286px;
} */
.option {
    flex: 1 1 calc(50% - 10px);
    min-width: 150px;
    padding: 10px;
    background-color: #CFDE67;
    border: 1px solid #CFDE67;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
}
h2.back_relation {
    background-color: #CFDE67;
    padding: 15px 27px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 25px;
    color: #fff;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 475px;
    left: 259px;
}